.dado{
    box-shadow: 0px 2px 5px rgb(134, 134, 134);
    border-radius: 10px;
    height: 100px;
    width: 100px;
    color: #2B283A;
    font-family: "Karla";
    font-weight: 700;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}